.row {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

.cell {
  background-color: tomato;
  min-width: 0;
  width: 1rem;
  height: 1.5rem;
  border-radius: 0;
}

.grid {
  text-align: center;
  margin: 2rem auto;
}

.visited {
  background-color: blue;
}

.on-path {
  background-color: yellow;
}
