.row {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
}

.cell {
  min-width: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: tomato;
}

.spacer {
  float: right;
}

.blocked {
  background-color: black;
}

.source {
  background-color: chartreuse;
}

.dest {
  background-color: crimson;
}

.grid {
  text-align: center;
  margin: 2rem auto;
}

.visited {
  background-color: blue;
}

.on-path {
  background-color: yellow;
}
