<div class="grid" (mousedown)="onMouseDown()" (mouseup)="onMouseUp()">
  <div class="inner">
    <div class="row" *ngFor="let row of grid">
      <button
      class="cell"
      (mousemove)="toggleWall(cell.xCoord, cell.yCoord)"
      *ngFor="let cell of row">
        <span *ngIf="cell.isSource">S</span>
        <span *ngIf="cell.isDest">D</span>
        <span *ngIf="!cell.isSource && !cell.isDest && cell.isBlocked">X</span>
      </button>
      <p></p>
    </div>
    <button (click)="toggleMode()">
      <span *ngIf="!addWall">Add</span>
      <span *ngIf="addWall">Remove </span>
       Walls</button>
    <button (click)="findPath()">Find shortest Path</button>
  </div>
</div>
