.row {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.inner {
  display: inline-block;
}

.cell {
  width: 2rem;
  height: 2rem;
}

.grid {
  text-align: center;
  margin: 3rem auto;
}

.visited {
  background-color: blue;
}

.on-path {
  background-color: yellow;
}
