<mat-card>

  <div>
    Rows:
    <mat-slider (change)="reinit()"
        [max]="20"
        [min]="2"
        [step]="1"
        [thumbLabel]="true"
        [(ngModel)]="height">
    </mat-slider>

    Columns:
    <mat-slider (change)="reinit()"
        [max]="70"
        [min]="2"
        [step]="1"
        [thumbLabel]="true"
        [(ngModel)]="width">
    </mat-slider>

    Weight:
    <mat-slider
        [max]="100"
        [min]="1"
        [step]="1"
        [thumbLabel]="true"
        [(ngModel)]="weightSlider">
    </mat-slider>
    <button
    mat-fab
    color="primary"
    (click)="reinit()">
      <mat-icon color="accent">refresh</mat-icon>
    </button>
    <button
    mat-fab
    color="primary"
    (click)="findPath()">
      <mat-icon color="accent">navigation</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="column">
    <mat-radio-group
    aria-label="Select Edit Mode"
    [(ngModel)]="editMode">
      <mat-radio-button value="AddWall">Add Walls</mat-radio-button>
      <mat-radio-button value="RemoveWall">Remove Walls</mat-radio-button>
      <mat-radio-button value="AddWeight">Add Weights</mat-radio-button>
    </mat-radio-group>

    Assign Random:

    <button mat-flat-button color=accent (click)="randomWeights()">
      Weights
    </button>

    <button mat-flat-button color=accent (click)="randomWalls()">
      Walls
    </button>

  </div>

  <mat-divider></mat-divider>

  <mat-grid-list
  cols="{{ width }}"
  (mousedown)="onMouseDown()"
  (mouseup)="onMouseUp()">
    <mat-grid-tile
    (mousemove)="onMovement(cell)"
    *ngFor="let cell of grid1D">
      <button
        (click)="onMovement(cell, true)"
        mat-flat-button
        class="cell {{getClass(cell)}}">
        <mat-icon style="font-size: {{3*(cell.weight-1)}}%;">fitness_center</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
